/* Registros FINALIZADOS */
tr.fila-finalizada td {
    background-color: #f8d7da !important;
    color: rgb(145, 42, 50) !important;
}

/* Registros CANCELADOS */
tr.fila-cancelada td {
    background-color: #f8d7da !important;
    color: rgb(145, 42, 50) !important;
}

/* Registros ELIMINADOS */
tr.fila-eliminada td {
    background-color: #e2e3e5 !important;
    color: rgb(92, 97, 102) !important;
    font-style: italic;
}